h1, h2 {
  font-weight: normal;
  text-shadow: none;
}

h3, h4 {
  font-weight: normal;
  text-shadow: none;
  font-size: 32px
}

h5 {
  font-weight: normal;
  text-shadow: none;
  text-align: justify;
  margin-top: 150px;
  font-size: 24px
}
